@charset "utf-8";

@font-face {
  font-display: swap; /* Helps ensure text remains visible during font swap */
  font-family: 'Open Sans';
  font-style: normal;
  /* Variable fonts often support a range of weights. 
     Set the range based on your needs. For example: 100 to 900. */
  font-weight: 100 900;
  src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

/* After defining the @font-face, you can now use 'Open Sans' throughout your site’s SCSS. */
/* Example usage:
body {
  font-family: 'Open Sans', sans-serif;
}
*/
